<%= form_for(@recipe, html: { class: "form-horizontal", role: "form"}) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <%= f.label :title, class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :title, autofocus: true, class: "form-control", id: "inputtitle1" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :body, class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_area :body, autofocus: true, class: "form-control", id: "inputbody1", rows: "10"%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :image, class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.file_field :image %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :tag_list, "Ingredients", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :tag_list, autofocus: true, class: "form-control", id: "tags" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :status, class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <div class="checkbox">
            <div><%= f.check_box :status %> <%= f.label :active %></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
          <div><%= f.submit "Submit", class: "btn btn-danger btn-sm" %></div>
        </div>
      </div>
    </form>
<!-- / Inner Page Content End -->
<% end %>

<script type="text/javascript">
  $( "#autocomplete" ).autocomplete({
    source: <%= raw @all_tag_list.to_json %>
  });
</script>


<script>
  $(function() {
    var availableTags = <%= raw @all_tag_list.to_json %>;
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  });
  </script>