<!-- Banner Start -->
<div class="banner padd">
  <div class="container">
    <!-- Image -->
    <img class="img-responsive" src="/assets/crown-white.png" alt="" />
    <!-- Heading -->
    <h2 class="white">New Recipes</h2>
    <hr>
    <div class="clearfix"></div>
  </div>
</div>
<!-- Banner End -->

<!-- Inner Content -->
<div class="inner-page padd">
  <!-- Blog Start -->
  <div class="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- The new post done by user's all in the post block -->
          <div class="blog-post">
            <div class="entry">
              <!-- Post Images -->
              <div class="blog-img pull-left">
                <%= image_tag @recipe.image, class: "img-responsive img-thumbnail" %>
              </div>
              <!-- Meta for this block -->
              <div class="meta">
                <i class="fa fa-calendar"></i>&nbsp; <%= @recipe.created_at.strftime('%b %d, %Y')%>
                <span class="pull-right"><i class="fa fa-comment"></i> <a href="<%= recipe_path(@recipe)%>#disqus_thread"></a></span>
              </div>
              <!-- Heading of the  post -->
              <h3><a href="blog-single.html"><%= @recipe.title %></a></h3>
              <hr /><!-- Horizontal line -->
              <!-- Paragraph -->
              <p><%= @recipe.body %></p>
              <div class="pull-right single-item col-md-8 col-xs-12">
                <h5>Ingredients :-</h5>
                <!-- Recipe ingredients -->
                <ul class="list-unstyled">
                  <% @recipe.tag_list.each do |tag| %>
                  <li>
                    <i class="fa fa-check"></i> <%= tag %> <span class="pull-right"> 100g</span>
                    <div class="clearfix"></div>
                  </li>
                  <% end %>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div> 
            <%= render partial: 'comments', locals: {recipe: @recipe } %>
          </div>
        </div> <!--/ Main blog column end -->
        <%= render 'right_column' %>
      </div><!--/ Row end -->
    </div>
  </div>
  <!-- Blog End -->
</div><!-- / Wrapper End -->