      <!-- Footer Start -->
      
      <div class="footer padd">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-8">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Logo area -->
                <div class="logo">
                  <img class="img-responsive" src="<%=asset_path 'logo.png'%>" alt="" />
                  <!-- Heading -->
                  <h1>Recipe of the Day</h1>
                </div>
                <!-- Paragraph -->
                <p>Perfect matches for your ingredients</p>
                <hr />
                <!-- Heading -->
              </div> <!--/ Footer widget end -->
            </div>
            <div class="col-md-4 col-sm-8">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Famous Dishes</h4>
                <!-- Images -->
                <a href="#"><img class="dish img-responsive" src="<%=asset_path 'dish/dish1.jpg'%>" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="<%=asset_path 'dish/dish1.jpg'%>" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="<%=asset_path 'dish/dish1.jpg'%>" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="<%=asset_path 'dish/dish1.jpg'%>" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="<%=asset_path 'dish/dish1.jpg'%>" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="<%=asset_path 'dish/dish1.jpg'%>" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="<%=asset_path 'dish/dish1.jpg'%>" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="<%=asset_path 'dish/dish1.jpg'%>" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="<%=asset_path 'dish/dish1.jpg'%>" alt="" /></a>
              </div> <!--/ Footer widget end -->
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-4 col-sm-8">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Contact Us</h4>
                <div class="contact-details">
                  <!-- Address / Icon -->
                  <i class="fa fa-map-marker br-red"></i> <span>Talatpaşa Caddesi No:3/5<br />Etiler, Istanbul<br /></span>
                  <div class="clearfix"></div>
                  <!-- Contact Number / Icon -->
                  <i class="fa fa-phone br-green"></i> <span>0212 265 23 23</span>
                  <div class="clearfix"></div>
                  <!-- Email / Icon -->
                  <i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">info@recipeoftheday.com</a></span>
                  <div class="clearfix"></div>
                </div>
                <!-- Social media icon -->
                <div class="social">
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                </div>
              </div> <!--/ Footer widget end -->
            </div>
          </div>
          <!-- Copyright -->
          <div class="footer-copyright">
            <!-- Paragraph -->
            <p>&copy; Copyright 2014 <a href="#">nock&null</a></p>
          </div>
        </div>
      </div>
      
      <!-- Footer End -->

      <!-- Scroll to top -->
      <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 