<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Title here -->
  <title>Recipe of The Day</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- Page Wrapper -->
<div class="wrapper">
<%= render partial: 'layouts/header' %>

<%= yield %>

<%= render partial: 'layouts/footer' %>
</div>

</body>
</html>
