<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Title here -->
  <title>Recipe of The Day</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice.present? %>
<div class="alert alert-info">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <p><%= notice %></p>
</div>
<% end %>

<% if alert.present? %>
<div class="alert alert-danger">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <p><%= alert %></p>
</div>
<% end %>
<!-- Page Wrapper -->
<div class="wrapper">
<%= render partial: 'layouts/header' %>

<%= yield %>

<%= render partial: 'layouts/footer' %>
</div>

</body>
</html>
